* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #000;
  color: #fff;
}

/* HEADER */
header {
  background: #FFD400;
  color: #000;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-weight: 900;
  letter-spacing: 2px;
}

header span {
  font-weight: 300;
}

nav button {
  margin-left: 10px;
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  background: #000;
  color: #FFD400;
  border-radius: 6px;
  font-weight: bold;
}

nav button:hover {
  background: #FFD400;
  color: #000;
}

/* PROMO */
.promo {
  text-align: center;
  background: #111;
  padding: 10px;
  color: #FFD400;
  font-weight: bold;
}

/* SEARCH */
.search {
  padding: 20px;
  text-align: center;
}

.search input {
  width: 60%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

/* PRODUCTS */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
  padding: 25px;
}

.product {
  background: #111;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  border: 1px solid #FFD40033;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 20px #FFD40055;
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  background: #ffffff;
  padding: 10px;
  border-radius: 12px;
}

.product h3 {
  margin: 10px 0 5px;
}

.product p {
  font-size: 18px;
  font-weight: bold;
  color: #FFD400;
}

.product button {
  margin-top: 10px;
  padding: 12px;
  width: 100%;
  background: #FFD400;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}

/* CART */
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  background: #111;
  padding: 20px;
  box-shadow: -5px 0 15px #000;
  overflow-y: auto;
  z-index: 999;
}

.cart.hidden {
  display: none;
}

.cart h2 {
  color: #FFD400;
}

.cart p {
  font-size: 14px;
}

.cart button {
  cursor: pointer;
}

.buy {
  background: #FFD400;
  width: 100%;
  padding: 12px;
  border: none;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 8px;
}

.close {
  background: #333;
  color: #fff;
  width: 100%;
  padding: 10px;
  border: none;
  margin-top: 5px;
  border-radius: 8px;
}
